html{
    scroll-behavior: smooth;

}
html, body{
    overflow-y: auto;
    overflow-x: hidden;
}

body{
    position: relative;
    min-height: 100vh;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-top-higthlidth-color: transparent;

    color: $color-primary;
    font-size: $font-size-base;
    line-height: $font-heigth-base;
    font-weight: $font-weigth-base;
    background-color: $body-bg-color;
    font-family: $font-primary;

}

img{
    max-width: 100%;
}