$card-bg: var(--#{prefix}-card-bg, $color-slate-50);
$card-radius: var(--#{prefix}-card-radius, 8px);
$card-border: var(--#{prefix}-card-border, transparent);



.tarjeta {
    // border: none;
    // overflow: hidden;
    // position: relative;
    width: 16rem;
    height: fit-content;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: $shadow-xl;
    border-radius: $card-radius;
    background-color: $card-bg;
    padding: 5px;


    &:hover{
        box-shadow: $shadow-lg;
    }

    .title{
        text-align: left;
        margin-top: 2px;
        margin-bottom: 0;
        font-size: $font-2xl;
        font-weight: $font-bold;
    }

    .image{
        width: 100%;
        height: fit-content;
        border-bottom: 5px;
        border-radius: 8px;
    }

    .texto{
        font-size: $font-xs;
        margin-bottom: 24px;
        text-align: left;
    }

}
